In [285]:
import pandas as pd
from sqlalchemy import create_engine

In [286]:
# Store CSV into DataFrame

In [287]:
# csv_file = "IMDb movies.csv"
# IMDb_data_df = pd.read_csv(csv_file)
# IMDb_data_df

In [288]:
# ETL_mini_proj/IMDb movies.csv

In [289]:
csv_file1 = "IMDb_movies.csv"
IMDb_data_df = pd.read_csv(csv_file1)
IMDb_data_df

/Users/amusaadebayo/opt/anaconda3/envs/bootcamp/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,imdb_title_id,Title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [290]:
Clean_IMDb_df = IMDb_data_df.dropna(how='any')
Clean_IMDb_df

,imdb_title_id,Title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
506,tt0017136,Metropolis,Metropolis,1927,1928-10-01,"Drama, Sci-Fi",153,Germany,German,Fritz Lang,...,"Alfred Abel, Gustav Fröhlich, Rudolf Klein-Rog...",In a futuristic city sharply divided between t...,8.3,156076,DEM 6000000,$ 1236166,$ 1349711,98.0,495.0,208.0
1048,tt0021749,Luci della città,City Lights,1931,1931-04-02,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,...,"Virginia Cherrill, Florence Lee, Harry Myers, ...","With the aid of a wealthy erratic tippler, a d...",8.5,162668,$ 1500000,$ 19181,$ 46008,99.0,295.0,122.0
2454,tt0027977,Tempi moderni,Modern Times,1936,1937-03-12,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,...,"Charles Chaplin, Paulette Goddard, Henry Bergm...",The Tramp struggles to live in modern industri...,8.5,211250,$ 1500000,$ 163577,$ 457688,96.0,307.0,115.0
2795,tt0029453,Il bandito della Casbah,Pépé le Moko,1937,1937-10-22,"Crime, Drama, Romance",94,France,"French, Arabic",Julien Duvivier,...,"Jean Gabin, Gabriel Gabrio, Saturnin Fabre, Fe...",A wanted gangster is both king and prisoner of...,7.7,6180,$ 60000,$ 155895,$ 155895,98.0,46.0,55.0
2827,tt0029583,Biancaneve e i sette nani,Snow White and the Seven Dwarfs,1937,1938-11-30,"Animation, Family, Fantasy",83,USA,English,"William Cottrell, David Hand",...,"Roy Atwell, Stuart Buchanan, Adriana Caselotti...",Exiled into the dangerous forest by her wicked...,7.6,177157,$ 1499000,$ 184925486,$ 184925486,95.0,260.0,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85266,tt9208444,Impractical Jokers: The Movie,Impractical Jokers: The Movie,2020,2020-02-28,Comedy,92,USA,English,Chris Henchy,...,"Paula Abdul, Joe Gatto, James Murray, Brian Qu...",The story of a humiliating high school mishap ...,5.9,4105,$ 3000000,$ 10691091,$ 10691091,39.0,152.0,17.0
85274,tt9214832,Emma.,Emma.,2020,2020-03-27,"Comedy, Drama",124,UK,English,Autumn de Wilde,...,"Anya Taylor-Joy, Angus Imrie, Letty Thomas, Ge...","In 1800s England, a well meaning but selfish y...",6.7,19858,$ 10000000,$ 10055355,$ 25659965,71.0,314.0,188.0
85397,tt9354944,Jexi,Jexi,2019,2019-10-11,"Comedy, Romance",84,"USA, Canada",English,"Jon Lucas, Scott Moore",...,"Adam Devine, Alexandra Shipp, Rose Byrne, Ron ...",A comedy about what can happen when you love y...,6.1,17038,$ 5000000,$ 6546159,$ 9341824,39.0,234.0,42.0
85460,tt9426210,Weathering with You,Tenki no ko,2019,2019-10-14,"Animation, Drama, Family",112,"Japan, China",Japanese,Makoto Shinkai,...,"Kotaro Daigo, Nana Mori, Shun Oguri, Sei Hirai...",A high-school boy who has run away to Tokyo be...,7.6,16277,$ 11100000,$ 7798743,$ 193176979,72.0,177.0,110.0
85740,tt9779516,Cosa mi lasci di te,I Still Believe,2020,2020-03-19,"Biography, Drama, Music",116,USA,English,"Andrew Erwin, Jon Erwin",...,"K.J. Apa, Britt Robertson, Nathan Parsons, Gar...",The true-life story of Christian music star Je...,6.5,6196,$ 12000000,$ 9868521,$ 13681524,41.0,151.0,52.0

In [291]:
Clean_IMDb_df.describe()

,duration,avg_vote,votes,metascore,reviews_from_users,reviews_from_critics
count,6616.000000,6616.000000,6.616000e+03,6616.000000,6616.000000,6616.000000
mean,108.004534,6.439722,9.693209e+04,54.899335,316.639964,146.771463
std,18.881481,0.981572,1.674032e+05,18.079011,501.187727,124.944507
min,63.000000,1.400000,1.150000e+02,1.000000,1.000000,1.000000
25%,95.000000,5.900000,1.209950e+04,42.000000,77.750000,58.000000
50%,105.000000,6.500000,3.880900e+04,55.000000,171.000000,112.000000
75%,118.000000,7.100000,1.062482e+05,68.000000,357.000000,195.000000
max,288.000000,9.300000,2.278845e+06,100.000000,10472.000000,999.000000

In [292]:
#Create new data with select columns
new_IMDb_data_df = Clean_IMDb_df[['imdb_title_id', 'Title', 'year', 'actors', 'director', 'genre', 'country', 'language', 'duration', 'metascore']].copy()
new_IMDb_data_df.head()

,imdb_title_id,Title,year,actors,director,genre,country,language,duration,metascore
506,tt0017136,Metropolis,1927,"Alfred Abel, Gustav Fröhlich, Rudolf Klein-Rog...",Fritz Lang,"Drama, Sci-Fi",Germany,German,153,98.0
1048,tt0021749,Luci della città,1931,"Virginia Cherrill, Florence Lee, Harry Myers, ...",Charles Chaplin,"Comedy, Drama, Romance",USA,English,87,99.0
2454,tt0027977,Tempi moderni,1936,"Charles Chaplin, Paulette Goddard, Henry Bergm...",Charles Chaplin,"Comedy, Drama, Family",USA,English,87,96.0
2795,tt0029453,Il bandito della Casbah,1937,"Jean Gabin, Gabriel Gabrio, Saturnin Fabre, Fe...",Julien Duvivier,"Crime, Drama, Romance",France,"French, Arabic",94,98.0
2827,tt0029583,Biancaneve e i sette nani,1937,"Roy Atwell, Stuart Buchanan, Adriana Caselotti...","William Cottrell, David Hand","Animation, Family, Fantasy",USA,English,83,95.0

In [293]:
csv_file2 = "MoviesOnStreaming.csv"
MoviesOnStreaming_data_df = pd.read_csv(csv_file2)
MoviesOnStreaming_data_df .head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [294]:
Clean_MoviesOnStreaming_df = MoviesOnStreaming_data_df.dropna(how='any')
Clean_MoviesOnStreaming_df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16657,16657,16658,A Kid in King Arthur's Court,1995,7,4.7,5%,0,0,0,1,0,Michael Gottlieb,"Adventure,Comedy,Family,Fantasy,Romance","United States,Hungary,United Kingdom",English,89.0
16671,16671,16672,George of the Jungle 2,2003,7,3.3,17%,0,0,0,1,0,David Grossman,"Adventure,Comedy,Family","United States,Australia",English,87.0
16677,16677,16678,That Darn Cat,1997,7,4.7,13%,0,0,0,1,0,Robert Stevenson,"Comedy,Crime,Family,Thriller",United States,"English,French",116.0
16687,16687,16688,Kazaam,1996,7,3.0,6%,0,0,0,1,0,Paul Michael Glaser,"Comedy,Family,Fantasy,Musical",United States,English,93.0
16705,16705,16706,Meet the Deedles,1998,7,4.1,7%,0,0,0,1,0,Steve Boyum,"Comedy,Family",United States,English,93.0

In [295]:
new_IMoviesOnStreaming_data_df = Clean_MoviesOnStreaming_df[['Title', 'Year', 'Genres', 'Runtime', 'Language', 'Country', 'Rotten Tomatoes']].copy()
new_IMoviesOnStreaming_data_df.head()

,Title,Year,Genres,Runtime,Language,Country,Rotten Tomatoes
0,Inception,2010,"Action,Adventure,Sci-Fi,Thriller",148.0,"English,Japanese,French","United States,United Kingdom",87%
1,The Matrix,1999,"Action,Sci-Fi",136.0,English,United States,87%
2,Avengers: Infinity War,2018,"Action,Adventure,Sci-Fi",149.0,English,United States,84%
3,Back to the Future,1985,"Adventure,Comedy,Sci-Fi",116.0,English,United States,96%
4,"The Good, the Bad and the Ugly",1966,Western,161.0,Italian,"Italy,Spain,West Germany",97%

In [296]:
csv_file3 = "IMDb_names.csv"
IMDb_name_data_df = pd.read_csv(csv_file3)
IMDb_name_data_df.head()

,imdb_name_id,name,birth_name,height,bio,birth_details,date_of_birth,place_of_birth,death_details,date_of_death,place_of_death,reason_of_death,spouses_string,spouses,divorces,spouses_with_children,children
0,nm0000001,Fred Astaire,Frederic Austerlitz Jr.,177.0,"Fred Astaire was born in Omaha, Nebraska, to J...","May 10, 1899 in Omaha, Nebraska, USA",1899-05-10,"Omaha, Nebraska, USA","June 22, 1987 in Los Angeles, California, USA ...",1987-06-22,"Los Angeles, California, USA",pneumonia,Robyn Smith (27 June 1980 - 22 June 1987) (hi...,2,0,1,2
1,nm0000002,Lauren Bacall,Betty Joan Perske,174.0,Lauren Bacall was born Betty Joan Perske on Se...,"September 16, 1924 in The Bronx, New York City...",1924-09-16,"The Bronx, New York City, New York, USA","August 12, 2014 in New York City, New York, US...",2014-08-12,"New York City, New York, USA",stroke,Jason Robards (4 July 1961 - 10 September 196...,2,1,2,3
2,nm0000003,Brigitte Bardot,Brigitte Bardot,166.0,"Brigitte Bardot was born on September 28, 1934...","September 28, 1934 in Paris, France",1934-09-28,"Paris, France",NaN,NaN,NaN,NaN,Bernard d'Ormale (16 August 1992 - present)\n...,4,3,1,1
3,nm0000004,John Belushi,John Adam Belushi,170.0,"John Belushi was born in Chicago, Illinois, US...","January 24, 1949 in Chicago, Illinois, USA",1949-01-24,"Chicago, Illinois, USA","March 5, 1982 in Hollywood, Los Angeles, Calif...",1982-03-05,"Hollywood, Los Angeles, California, USA",acute cocaine and heroin intoxication,Judith Belushi-Pisano (31 December 1976 - 5 M...,1,0,0,0
4,nm0000005,Ingmar Bergman,Ernst Ingmar Bergman,179.0,"Ernst Ingmar Bergman was born July 14, 1918, t...","July 14, 1918 in Uppsala, Uppsala län, Sweden",1918-07-14,"Uppsala, Uppsala län, Sweden","July 30, 2007 in Fårö, Gotlands län, Sweden (...",2007-07-30,"Fårö, Gotlands län, Sweden",natural causes,Ingrid Bergman (11 November 1971 - 20 May 199...,5,4,5,8

In [297]:
Clean_IMDb_name_df = IMDb_name_data_df.dropna(how='any')
Clean_IMDb_name_df

,imdb_name_id,name,birth_name,height,bio,birth_details,date_of_birth,place_of_birth,death_details,date_of_death,place_of_death,reason_of_death,spouses_string,spouses,divorces,spouses_with_children,children
0,nm0000001,Fred Astaire,Frederic Austerlitz Jr.,177.0,"Fred Astaire was born in Omaha, Nebraska, to J...","May 10, 1899 in Omaha, Nebraska, USA",1899-05-10,"Omaha, Nebraska, USA","June 22, 1987 in Los Angeles, California, USA ...",1987-06-22,"Los Angeles, California, USA",pneumonia,Robyn Smith (27 June 1980 - 22 June 1987) (hi...,2,0,1,2
1,nm0000002,Lauren Bacall,Betty Joan Perske,174.0,Lauren Bacall was born Betty Joan Perske on Se...,"September 16, 1924 in The Bronx, New York City...",1924-09-16,"The Bronx, New York City, New York, USA","August 12, 2014 in New York City, New York, US...",2014-08-12,"New York City, New York, USA",stroke,Jason Robards (4 July 1961 - 10 September 196...,2,1,2,3
3,nm0000004,John Belushi,John Adam Belushi,170.0,"John Belushi was born in Chicago, Illinois, US...","January 24, 1949 in Chicago, Illinois, USA",1949-01-24,"Chicago, Illinois, USA","March 5, 1982 in Hollywood, Los Angeles, Calif...",1982-03-05,"Hollywood, Los Angeles, California, USA",acute cocaine and heroin intoxication,Judith Belushi-Pisano (31 December 1976 - 5 M...,1,0,0,0
4,nm0000005,Ingmar Bergman,Ernst Ingmar Bergman,179.0,"Ernst Ingmar Bergman was born July 14, 1918, t...","July 14, 1918 in Uppsala, Uppsala län, Sweden",1918-07-14,"Uppsala, Uppsala län, Sweden","July 30, 2007 in Fårö, Gotlands län, Sweden (...",2007-07-30,"Fårö, Gotlands län, Sweden",natural causes,Ingrid Bergman (11 November 1971 - 20 May 199...,5,4,5,8
5,nm0000006,Ingrid Bergman,Ingrid Bergman,178.0,Ingrid Bergman was one of the greatest actress...,"August 29, 1915 in Stockholm, Sweden",1915-08-29,"Stockholm, Sweden","August 29, 1982 in Chelsea, London, England, U...",1982-08-29,"Chelsea, London, England, UK",lymphoma complications following a breast canc...,Lars Schmidt (21 December 1958 - 1978) (divor...,3,3,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245609,nm4881574,Chris Kyle,Christopher Scott Kyle,188.0,"Chris Kyle was born on April 8, 1974 in Odessa...","April 8, 1974 in Odessa, Texas, USA",1974-04-08,"Odessa, Texas, USA","February 2, 2013 in Glen Rose, Somervell Count...",2013-02-02,"Glen Rose, Somervell County, Texas, USA",homicide by gunshot,Taya Kyle (16 March 2002 - 2 February 2013) (...,1,0,1,2
252816,nm5410196,Tony Mendez,Antonio Joseph Mendez,170.0,"Tony Mendez was born on November 15, 1940 in E...","November 15, 1940 in Eureka, Nevada, USA",1940-11-15,"Eureka, Nevada, USA","January 19, 2019 in Frederick, Maryland, USA ...",2019-01-19,"Frederick, Maryland, USA",complications from Parkinson's disease,Jonna Mendez (1991 - 19 January 2019) (his de...,2,0,2,4
262067,nm6284246,August Ames,Mercedes Grabowski,168.0,"Luscious, buxom, and shapely 5'6"" brunette kno...","August 23, 1994 in Nova Scotia, Canada",1994-08-23,"Nova Scotia, Canada","December 5, 2017 in Camarillo, California, USA...",2017-12-05,"Camarillo, California, USA",suicide by hanging,Kevin Moore (2016 - 5 December 2017) (her death),1,0,0,0
265203,nm6649402,Salman Shah,Shahriar Chowdhury Emon,173.0,"Salman Shah was born on September 19, 1971 in ...","September 19, 1971 in Daria para, Sylhet, Bang...",1971-09-19,"Daria para, Sylhet, Bangladesh","September 6, 1996 in Dhaka, Bangladesh (suicide)",1996-09-06,"Dhaka, Bangladesh",suicide,Samira Huq (12 August 1992 - 6 September 1996...,1,0,0,0
270769,nm7390393,Aachi Manorama,Gopishantha,160.0,Manorama is a veteran Tamil actress who has ac...,"May 26, 1937 in Mannargudi, Madras Presidency,...",1937-05-26,"Mannargudi, Madras Presidency, British India","October 10, 2015 in Chennai, Tamil Nadu, India...",2015-10-10,"Chennai, Tamil Nadu, India",heart attack,S.M.Ramanathan (1964 - 1966) (divorced) (1 ch...,1,1,1,1

In [298]:
new_IMDb_name_data_df = Clean_IMDb_name_df[['imdb_name_id', 'name',	'height','bio',	'date_of_birth','place_of_birth', 'date_of_death','spouses', 'children']].copy()
new_IMDb_name_data_df.head()

,imdb_name_id,name,height,bio,date_of_birth,place_of_birth,date_of_death,spouses,children
0,nm0000001,Fred Astaire,177.0,"Fred Astaire was born in Omaha, Nebraska, to J...",1899-05-10,"Omaha, Nebraska, USA",1987-06-22,2,2
1,nm0000002,Lauren Bacall,174.0,Lauren Bacall was born Betty Joan Perske on Se...,1924-09-16,"The Bronx, New York City, New York, USA",2014-08-12,2,3
3,nm0000004,John Belushi,170.0,"John Belushi was born in Chicago, Illinois, US...",1949-01-24,"Chicago, Illinois, USA",1982-03-05,1,0
4,nm0000005,Ingmar Bergman,179.0,"Ernst Ingmar Bergman was born July 14, 1918, t...",1918-07-14,"Uppsala, Uppsala län, Sweden",2007-07-30,5,8
5,nm0000006,Ingrid Bergman,178.0,Ingrid Bergman was one of the greatest actress...,1915-08-29,"Stockholm, Sweden",1982-08-29,3,4

In [299]:
print(type(IMDb_data_df))

<class 'pandas.core.frame.DataFrame'>

In [300]:
IMDb_data_df.describe()

,duration,avg_vote,votes,metascore,reviews_from_users,reviews_from_critics
count,85855.000000,85855.000000,8.585500e+04,13305.000000,78258.000000,74058.000000
mean,100.351418,5.898656,9.493490e+03,55.896881,46.040826,27.479989
std,22.553848,1.234987,5.357436e+04,17.784874,178.511411,58.339158
min,41.000000,1.000000,9.900000e+01,1.000000,1.000000,1.000000
25%,88.000000,5.200000,2.050000e+02,43.000000,4.000000,3.000000
50%,96.000000,6.100000,4.840000e+02,57.000000,9.000000,8.000000
75%,108.000000,6.800000,1.766500e+03,69.000000,27.000000,23.000000
max,808.000000,9.900000,2.278845e+06,100.000000,10472.000000,999.000000

In [301]:
# inner_join_df= pd.merge(df1, df2, on='Customer_id', how='inner')

# inner_join_df 

cleanComplete_Movies_data = pd.merge(new_IMDb_data_df, new_IMoviesOnStreaming_data_df, on='Title', how = 'inner')
cleanComplete_Movies_data

,imdb_title_id,Title,year,actors,director,genre,country,language,duration,metascore,Year,Genres,Runtime,Language,Country,Rotten Tomatoes
0,tt0032455,Fantasia,1940,"Deems Taylor, Leopold Stokowski, The Philadelp...","James Algar, Samuel Armstrong","Animation, Family, Fantasy",USA,English,125,96.0,1940,"Animation,Family,Fantasy,Music",125.0,English,United States,94%
1,tt0032910,Pinocchio,1940,"Mel Blanc, Don Brodie, Stuart Buchanan, Walter...","Norman Ferguson, T. Hee","Animation, Comedy, Family",USA,English,88,99.0,1940,"Drama,Fantasy",120.0,Italian,"Italy,France,United Kingdom",100%
2,tt0255477,Pinocchio,2002,"Roberto Benigni, Nicoletta Braschi, Mino Belle...",Roberto Benigni,"Comedy, Family, Fantasy",Italy,Italian,108,11.0,1940,"Drama,Fantasy",120.0,Italian,"Italy,France,United Kingdom",100%
3,tt0035423,Kate & Leopold,2001,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",James Mangold,"Comedy, Fantasy, Romance",USA,"English, French",118,44.0,2001,"Comedy,Fantasy,Romance",118.0,"English,French",United States,50%
4,tt0047034,Godzilla,1954,"Akira Takarada, Momoko Kôchi, Akihiko Hirata, ...",Ishirô Honda,"Action, Drama, Horror",Japan,Japanese,96,78.0,1998,"Action,Adventure,Sci-Fi,Thriller",123.0,"English,Japanese","United States,Japan",16%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,tt7545524,Ben Is Back,2018,"Julia Roberts, Lucas Hedges, Courtney B. Vance...",Peter Hedges,Drama,USA,English,103,66.0,2018,Drama,103.0,English,United States,82%
507,tt7605074,The Wandering Earth,2019,"Jing Wu, Chuxiao Qu, Guangjie Li, Man-Tat Ng, ...",Frant Gwo,"Action, Sci-Fi",China,"Mandarin, English, Russian, French, Japanese, ...",125,57.0,2019,"Action,Drama,Sci-Fi",125.0,"Mandarin,English,Russian,French,Japanese,Korea...",China,75%
508,tt7634968,What Men Want,2019,"Taraji P. Henson, Kristen Ledlow, Josh Brener,...",Adam Shankman,"Comedy, Fantasy, Romance",USA,"English, Mandarin",117,49.0,2019,"Comedy,Fantasy,Romance",117.0,"English,Mandarin",United States,42%
509,tt8359848,Climax,2018,"Sofia Boutella, Romain Guillermic, Souheila Ya...",Gaspar Noé,"Drama, Horror, Music","France, Belgium","French, English",97,67.0,2018,"Drama,Horror,Music,Thriller",97.0,"French,English","France,Belgium",69%
510,tt9024106,Unplanned,2019,"Ashley Bratcher, Brooks Ryan, Robia Scott, Jar...","Chuck Konzelman, Cary Solomon","Biography, Drama",USA,English,109,10.0,2019,"Biography,Drama",109.0,English,United States,40%

In [302]:
cleanComplete_Movies_data.head()

,imdb_title_id,Title,year,actors,director,genre,country,language,duration,metascore,Year,Genres,Runtime,Language,Country,Rotten Tomatoes
0,tt0032455,Fantasia,1940,"Deems Taylor, Leopold Stokowski, The Philadelp...","James Algar, Samuel Armstrong","Animation, Family, Fantasy",USA,English,125,96.0,1940,"Animation,Family,Fantasy,Music",125.0,English,United States,94%
1,tt0032910,Pinocchio,1940,"Mel Blanc, Don Brodie, Stuart Buchanan, Walter...","Norman Ferguson, T. Hee","Animation, Comedy, Family",USA,English,88,99.0,1940,"Drama,Fantasy",120.0,Italian,"Italy,France,United Kingdom",100%
2,tt0255477,Pinocchio,2002,"Roberto Benigni, Nicoletta Braschi, Mino Belle...",Roberto Benigni,"Comedy, Family, Fantasy",Italy,Italian,108,11.0,1940,"Drama,Fantasy",120.0,Italian,"Italy,France,United Kingdom",100%
3,tt0035423,Kate & Leopold,2001,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",James Mangold,"Comedy, Fantasy, Romance",USA,"English, French",118,44.0,2001,"Comedy,Fantasy,Romance",118.0,"English,French",United States,50%
4,tt0047034,Godzilla,1954,"Akira Takarada, Momoko Kôchi, Akihiko Hirata, ...",Ishirô Honda,"Action, Drama, Horror",Japan,Japanese,96,78.0,1998,"Action,Adventure,Sci-Fi,Thriller",123.0,"English,Japanese","United States,Japan",16%

In [303]:
# cleanComplete_Movies_data = pd.merge(Clean_IMDb_df, Clean_MoviesOnStreaming_df,
NewcleanComplete_Movies_data = cleanComplete_Movies_data[['Title', 'Year', 'Genres', 'Runtime', 'Language', 'Country', 'Rotten Tomatoes']].copy()
NewcleanComplete_Movies_data

,Title,Year,Genres,Runtime,Language,Country,Rotten Tomatoes
0,Fantasia,1940,"Animation,Family,Fantasy,Music",125.0,English,United States,94%
1,Pinocchio,1940,"Drama,Fantasy",120.0,Italian,"Italy,France,United Kingdom",100%
2,Pinocchio,1940,"Drama,Fantasy",120.0,Italian,"Italy,France,United Kingdom",100%
3,Kate & Leopold,2001,"Comedy,Fantasy,Romance",118.0,"English,French",United States,50%
4,Godzilla,1998,"Action,Adventure,Sci-Fi,Thriller",123.0,"English,Japanese","United States,Japan",16%
...,...,...,...,...,...,...,...
506,Ben Is Back,2018,Drama,103.0,English,United States,82%
507,The Wandering Earth,2019,"Action,Drama,Sci-Fi",125.0,"Mandarin,English,Russian,French,Japanese,Korea...",China,75%
508,What Men Want,2019,"Comedy,Fantasy,Romance",117.0,"English,Mandarin",United States,42%
509,Climax,2018,"Drama,Horror,Music,Thriller",97.0,"French,English","France,Belgium",69%
510,Unplanned,2019,"Biography,Drama",109.0,English,United States,40%

In [304]:
#mean runtime
NewcleanComplete_Movies_data["Runtime"].mean()

108.73972602739725

In [305]:
# NewcleanComplete_Movies_data["Rotten Tomatoes"].mean()

In [306]:
#Average movie score
# NewcleanComplete_Movies_data[f'Rotten Tomatoes'].mean()

cleanComplete_Movies_data.describe()

In [307]:
cleanComplete_Movies_data

,imdb_title_id,Title,year,actors,director,genre,country,language,duration,metascore,Year,Genres,Runtime,Language,Country,Rotten Tomatoes
0,tt0032455,Fantasia,1940,"Deems Taylor, Leopold Stokowski, The Philadelp...","James Algar, Samuel Armstrong","Animation, Family, Fantasy",USA,English,125,96.0,1940,"Animation,Family,Fantasy,Music",125.0,English,United States,94%
1,tt0032910,Pinocchio,1940,"Mel Blanc, Don Brodie, Stuart Buchanan, Walter...","Norman Ferguson, T. Hee","Animation, Comedy, Family",USA,English,88,99.0,1940,"Drama,Fantasy",120.0,Italian,"Italy,France,United Kingdom",100%
2,tt0255477,Pinocchio,2002,"Roberto Benigni, Nicoletta Braschi, Mino Belle...",Roberto Benigni,"Comedy, Family, Fantasy",Italy,Italian,108,11.0,1940,"Drama,Fantasy",120.0,Italian,"Italy,France,United Kingdom",100%
3,tt0035423,Kate & Leopold,2001,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",James Mangold,"Comedy, Fantasy, Romance",USA,"English, French",118,44.0,2001,"Comedy,Fantasy,Romance",118.0,"English,French",United States,50%
4,tt0047034,Godzilla,1954,"Akira Takarada, Momoko Kôchi, Akihiko Hirata, ...",Ishirô Honda,"Action, Drama, Horror",Japan,Japanese,96,78.0,1998,"Action,Adventure,Sci-Fi,Thriller",123.0,"English,Japanese","United States,Japan",16%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,tt7545524,Ben Is Back,2018,"Julia Roberts, Lucas Hedges, Courtney B. Vance...",Peter Hedges,Drama,USA,English,103,66.0,2018,Drama,103.0,English,United States,82%
507,tt7605074,The Wandering Earth,2019,"Jing Wu, Chuxiao Qu, Guangjie Li, Man-Tat Ng, ...",Frant Gwo,"Action, Sci-Fi",China,"Mandarin, English, Russian, French, Japanese, ...",125,57.0,2019,"Action,Drama,Sci-Fi",125.0,"Mandarin,English,Russian,French,Japanese,Korea...",China,75%
508,tt7634968,What Men Want,2019,"Taraji P. Henson, Kristen Ledlow, Josh Brener,...",Adam Shankman,"Comedy, Fantasy, Romance",USA,"English, Mandarin",117,49.0,2019,"Comedy,Fantasy,Romance",117.0,"English,Mandarin",United States,42%
509,tt8359848,Climax,2018,"Sofia Boutella, Romain Guillermic, Souheila Ya...",Gaspar Noé,"Drama, Horror, Music","France, Belgium","French, English",97,67.0,2018,"Drama,Horror,Music,Thriller",97.0,"French,English","France,Belgium",69%
510,tt9024106,Unplanned,2019,"Ashley Bratcher, Brooks Ryan, Robia Scott, Jar...","Chuck Konzelman, Cary Solomon","Biography, Drama",USA,English,109,10.0,2019,"Biography,Drama",109.0,English,United States,40%

In [308]:
# Actors_df = cleanComplete_Movies_data()
cleanComplete_Movies_data['actors'] = cleanComplete_Movies_data['actors'].str.split(',', expand=True)[0]
cleanComplete_Movies_data.head()

,imdb_title_id,Title,year,actors,director,genre,country,language,duration,metascore,Year,Genres,Runtime,Language,Country,Rotten Tomatoes
0,tt0032455,Fantasia,1940,Deems Taylor,"James Algar, Samuel Armstrong","Animation, Family, Fantasy",USA,English,125,96.0,1940,"Animation,Family,Fantasy,Music",125.0,English,United States,94%
1,tt0032910,Pinocchio,1940,Mel Blanc,"Norman Ferguson, T. Hee","Animation, Comedy, Family",USA,English,88,99.0,1940,"Drama,Fantasy",120.0,Italian,"Italy,France,United Kingdom",100%
2,tt0255477,Pinocchio,2002,Roberto Benigni,Roberto Benigni,"Comedy, Family, Fantasy",Italy,Italian,108,11.0,1940,"Drama,Fantasy",120.0,Italian,"Italy,France,United Kingdom",100%
3,tt0035423,Kate & Leopold,2001,Meg Ryan,James Mangold,"Comedy, Fantasy, Romance",USA,"English, French",118,44.0,2001,"Comedy,Fantasy,Romance",118.0,"English,French",United States,50%
4,tt0047034,Godzilla,1954,Akira Takarada,Ishirô Honda,"Action, Drama, Horror",Japan,Japanese,96,78.0,1998,"Action,Adventure,Sci-Fi,Thriller",123.0,"English,Japanese","United States,Japan",16%

In [309]:
rotten_tom_score = cleanComplete_Movies_data["Rotten Tomatoes"]
cleanComplete_Movies_data["Rotten Tomatoes"] = cleanComplete_Movies_data["Rotten Tomatoes"].replace({'%':''}, regex = True)

print(rotten_tom_score)

0       94
1      100
2      100
3       50
4       16
      ...
506     82
507     75
508     42
509     69
510     40
Name: Rotten Tomatoes, Length: 511, dtype: object

In [310]:
#Average rotten tomotoes score
rotten_tom_score

0       94
1      100
2      100
3       50
4       16
      ...
506     82
507     75
508     42
509     69
510     40
Name: Rotten Tomatoes, Length: 511, dtype: object

In [313]:
rotten_tom_score_numeric = cleanComplete_Movies_data['Rotten Tomatoes']
cleanComplete_Movies_data['Rotten Tomatoes'] = pd.to_numeric(cleanComplete_Movies_data['Rotten Tomatoes'],errors='coerce')
rotten_tom_score_numeric

0       94.0
1      100.0
2      100.0
3       50.0
4       16.0
       ...
506     82.0
507     75.0
508     42.0
509     69.0
510     40.0
Name: Rotten Tomatoes, Length: 511, dtype: float64

In [314]:
rotten_tom_score_numeric.describe()

count    511.000000
mean      58.589041
std       26.902719
min        2.000000
25%       37.000000
50%       64.000000
75%       81.000000
max      100.000000
Name: Rotten Tomatoes, dtype: float64

In [316]:
#IMDb 
rotten_tom_score_numeric.mean()

58.58904109589041

In [317]:
#Streaming Movies metascore
cleanComplete_Movies_data["metascore"].mean()

56.28180039138943

In [318]:
#Avearge movie rating (metascore)
cleanComplete_Movies_data["metascore"].mean()

56.28180039138943

In [319]:
# Average runtime
cleanComplete_Movies_data["Runtime"].mean()

108.73972602739725

In [320]:
#Average duration
cleanComplete_Movies_data["duration"].mean()

107.92563600782779

In [321]:
new_complete_Movies_data = cleanComplete_Movies_data[['imdb_title_id','Title',	'year', 'genre','duration','country',	'language',	'director', 'Genres','Country', 'Language',	'Runtime']].copy()
new_complete_Movies_data.head()

,imdb_title_id,Title,year,genre,duration,country,language,director,Genres,Country,Language,Runtime
0,tt0032455,Fantasia,1940,"Animation, Family, Fantasy",125,USA,English,"James Algar, Samuel Armstrong","Animation,Family,Fantasy,Music",United States,English,125.0
1,tt0032910,Pinocchio,1940,"Animation, Comedy, Family",88,USA,English,"Norman Ferguson, T. Hee","Drama,Fantasy","Italy,France,United Kingdom",Italian,120.0
2,tt0255477,Pinocchio,2002,"Comedy, Family, Fantasy",108,Italy,Italian,Roberto Benigni,"Drama,Fantasy","Italy,France,United Kingdom",Italian,120.0
3,tt0035423,Kate & Leopold,2001,"Comedy, Fantasy, Romance",118,USA,"English, French",James Mangold,"Comedy,Fantasy,Romance",United States,"English,French",118.0
4,tt0047034,Godzilla,1954,"Action, Drama, Horror",96,Japan,Japanese,Ishirô Honda,"Action,Adventure,Sci-Fi,Thriller","United States,Japan","English,Japanese",123.0

In [322]:
Clean_complete_IMDb_df = new_complete_Movies_data.dropna(how='any')
Clean_complete_IMDb_df

,imdb_title_id,Title,year,genre,duration,country,language,director,Genres,Country,Language,Runtime
0,tt0032455,Fantasia,1940,"Animation, Family, Fantasy",125,USA,English,"James Algar, Samuel Armstrong","Animation,Family,Fantasy,Music",United States,English,125.0
1,tt0032910,Pinocchio,1940,"Animation, Comedy, Family",88,USA,English,"Norman Ferguson, T. Hee","Drama,Fantasy","Italy,France,United Kingdom",Italian,120.0
2,tt0255477,Pinocchio,2002,"Comedy, Family, Fantasy",108,Italy,Italian,Roberto Benigni,"Drama,Fantasy","Italy,France,United Kingdom",Italian,120.0
3,tt0035423,Kate & Leopold,2001,"Comedy, Fantasy, Romance",118,USA,"English, French",James Mangold,"Comedy,Fantasy,Romance",United States,"English,French",118.0
4,tt0047034,Godzilla,1954,"Action, Drama, Horror",96,Japan,Japanese,Ishirô Honda,"Action,Adventure,Sci-Fi,Thriller","United States,Japan","English,Japanese",123.0
...,...,...,...,...,...,...,...,...,...,...,...,...
506,tt7545524,Ben Is Back,2018,Drama,103,USA,English,Peter Hedges,Drama,United States,English,103.0
507,tt7605074,The Wandering Earth,2019,"Action, Sci-Fi",125,China,"Mandarin, English, Russian, French, Japanese, ...",Frant Gwo,"Action,Drama,Sci-Fi",China,"Mandarin,English,Russian,French,Japanese,Korea...",125.0
508,tt7634968,What Men Want,2019,"Comedy, Fantasy, Romance",117,USA,"English, Mandarin",Adam Shankman,"Comedy,Fantasy,Romance",United States,"English,Mandarin",117.0
509,tt8359848,Climax,2018,"Drama, Horror, Music",97,"France, Belgium","French, English",Gaspar Noé,"Drama,Horror,Music,Thriller","France,Belgium","French,English",97.0
510,tt9024106,Unplanned,2019,"Biography, Drama",109,USA,English,"Chuck Konzelman, Cary Solomon","Biography,Drama",United States,English,109.0

In [323]:
from getpass import getpass
password = getpass("Password")

In [324]:
#password

In [325]:
# Connect to local database
rds_connection_string = f"postgres:{password}@localhost:5432/Movies_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [326]:
#Check for tables
engine.table_names()

['CleanIMDB', 'IMoviesOnStreaming', 'IMDb_name', 'complete_Movies']

In [327]:
new_IMDb_data_df.to_sql(name='CleanIMDB', con=engine, if_exists='append', index=False)

In [328]:
new_IMoviesOnStreaming_data_df.to_sql(name='IMoviesOnStreaming', con=engine, if_exists='append', index=False)

In [329]:
new_IMDb_name_data_df.to_sql(name='IMDb_name', con=engine, if_exists='append', index=False)

In [330]:
new_complete_Movies_data.to_sql(name='complete_Movies', con=engine, if_exists='append', index=False)

In [331]:
pd.read_sql_query('select * from Public."CleanIMDB" ', con=engine).head()

,imdb_title_id,Title,year,actors,director,genre,country,language,duration,metascore
0,tt0017136,Metropolis,1927,"Alfred Abel, Gustav Fröhlich, Rudolf Klein-Rog...",Fritz Lang,"Drama, Sci-Fi",Germany,German,153,98.0
1,tt0021749,Luci della città,1931,"Virginia Cherrill, Florence Lee, Harry Myers, ...",Charles Chaplin,"Comedy, Drama, Romance",USA,English,87,99.0
2,tt0027977,Tempi moderni,1936,"Charles Chaplin, Paulette Goddard, Henry Bergm...",Charles Chaplin,"Comedy, Drama, Family",USA,English,87,96.0
3,tt0029453,Il bandito della Casbah,1937,"Jean Gabin, Gabriel Gabrio, Saturnin Fabre, Fe...",Julien Duvivier,"Crime, Drama, Romance",France,"French, Arabic",94,98.0
4,tt0029583,Biancaneve e i sette nani,1937,"Roy Atwell, Stuart Buchanan, Adriana Caselotti...","William Cottrell, David Hand","Animation, Family, Fantasy",USA,English,83,95.0

In [332]:
pd.read_sql_query('select * from Public."IMoviesOnStreaming"', con=engine).head()

,Title,Year,Genres,Runtime,Language,Country,Rotten Tomatoes
0,Inception,2010,"Action,Adventure,Sci-Fi,Thriller",148.0,"English,Japanese,French","United States,United Kingdom",87%
1,The Matrix,1999,"Action,Sci-Fi",136.0,English,United States,87%
2,Avengers: Infinity War,2018,"Action,Adventure,Sci-Fi",149.0,English,United States,84%
3,Back to the Future,1985,"Adventure,Comedy,Sci-Fi",116.0,English,United States,96%
4,"The Good, the Bad and the Ugly",1966,Western,161.0,Italian,"Italy,Spain,West Germany",97%

In [333]:
# Confirm data has been added by querying the customer_location table
pd.read_sql_query('select * from Public."IMDb_name"', con=engine).head()

,imdb_name_id,name,height,bio,date_of_birth,place_of_birth,date_of_death,spouses,children
0,nm0000001,Fred Astaire,177.0,"Fred Astaire was born in Omaha, Nebraska, to J...",1899-05-10,"Omaha, Nebraska, USA",1987-06-22,2,2
1,nm0000002,Lauren Bacall,174.0,Lauren Bacall was born Betty Joan Perske on Se...,1924-09-16,"The Bronx, New York City, New York, USA",2014-08-12,2,3
2,nm0000004,John Belushi,170.0,"John Belushi was born in Chicago, Illinois, US...",1949-01-24,"Chicago, Illinois, USA",1982-03-05,1,0
3,nm0000005,Ingmar Bergman,179.0,"Ernst Ingmar Bergman was born July 14, 1918, t...",1918-07-14,"Uppsala, Uppsala län, Sweden",2007-07-30,5,8
4,nm0000006,Ingrid Bergman,178.0,Ingrid Bergman was one of the greatest actress...,1915-08-29,"Stockholm, Sweden",1982-08-29,3,4

In [334]:
pd.read_sql_query('select * from Public."IMDb_name"', con=engine).head()

,imdb_name_id,name,height,bio,date_of_birth,place_of_birth,date_of_death,spouses,children
0,nm0000001,Fred Astaire,177.0,"Fred Astaire was born in Omaha, Nebraska, to J...",1899-05-10,"Omaha, Nebraska, USA",1987-06-22,2,2
1,nm0000002,Lauren Bacall,174.0,Lauren Bacall was born Betty Joan Perske on Se...,1924-09-16,"The Bronx, New York City, New York, USA",2014-08-12,2,3
2,nm0000004,John Belushi,170.0,"John Belushi was born in Chicago, Illinois, US...",1949-01-24,"Chicago, Illinois, USA",1982-03-05,1,0
3,nm0000005,Ingmar Bergman,179.0,"Ernst Ingmar Bergman was born July 14, 1918, t...",1918-07-14,"Uppsala, Uppsala län, Sweden",2007-07-30,5,8
4,nm0000006,Ingrid Bergman,178.0,Ingrid Bergman was one of the greatest actress...,1915-08-29,"Stockholm, Sweden",1982-08-29,3,4

In [335]:
pd.read_sql_query('select * from Public."complete_Movies"', con=engine).head()

,imdb_title_id,Title,year,date_published,genre,duration,country,language,director,Type,Directors,Genres,Country,Language,Runtime
0,tt0032455,Fantasia,1940,1946-09-19,"Animation, Family, Fantasy",125,USA,English,"James Algar, Samuel Armstrong",0.0,"James Algar,Samuel Armstrong,Ford Beebe Jr.,No...","Animation,Family,Fantasy,Music",United States,English,125.0
1,tt0032910,Pinocchio,1940,1947-11-27,"Animation, Comedy, Family",88,USA,English,"Norman Ferguson, T. Hee",0.0,Matteo Garrone,"Drama,Fantasy","Italy,France,United Kingdom",Italian,120.0
2,tt0255477,Pinocchio,2002,2002-10-11,"Comedy, Family, Fantasy",108,Italy,Italian,Roberto Benigni,0.0,Matteo Garrone,"Drama,Fantasy","Italy,France,United Kingdom",Italian,120.0
3,tt0035423,Kate & Leopold,2001,2002-03-01,"Comedy, Fantasy, Romance",118,USA,"English, French",James Mangold,0.0,James Mangold,"Comedy,Fantasy,Romance",United States,"English,French",118.0
4,tt0047034,Godzilla,1954,1957-04-05,"Action, Drama, Horror",96,Japan,Japanese,Ishirô Honda,0.0,Gareth Edwards,"Action,Adventure,Sci-Fi,Thriller","United States,Japan","English,Japanese",123.0